.header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.header__container {
  width: 1250px;
}
.header__container__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1220px;
  padding: 0 15px;
  height: 100px;
  margin: 0;
}
.header__container__logo__img {
  width: 80px;
  height: 80px;
}
.header__container__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}
.header__container__list {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.header__container__list .list__item {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.header__container__list .list__item__button {
  margin: 0;
  padding: 0;
}
.header__container__list .list__item__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 139px;
  height: 40px;
  background-color: #337ab7;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-radius: 20px;
}
.header__container__list .list__item__button a:hover {
  background-color: #1f5a8b;
}
.header__container__list .list__item a {
  text-decoration: none;
  color: #a2a7b7;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 44px;
}
.header__container__list .list__item a:hover {
  color: #000;
}