@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
}

/* Header settings */
.header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  z-index: 100;
  height: 100px;
  /* Burger menu settings */
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header__burger__toogle {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  position: relative;
}
.header__burger__toogle::before, .header__burger__toogle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 2px;
}
.header__burger__toogle::before {
  transform: translateY(-8px);
}
.header__burger__toogle::after {
  transform: translateY(8px);
}
.header__burger.active__toogle {
  background-color: transparent;
}
.header__burger.active__toogle::before {
  transform: rotate(45deg) translate(5px, 5px);
}
.header__burger.active__toogle::after {
  transform: rotate(-45deg) translate(5px, -5px);
}
.header__container {
  width: 1250px;
  height: 100px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__container__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.header__container__logo__img {
  width: 80px;
  height: 80px;
}
.header__container__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  align-items: center;
  margin: 0;
}
.header__container__list .list__item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.header__container__list .list__item__link {
  text-decoration: none;
  color: #a2a7b7;
  padding: 10px 16px;
}
.header__container__list .list__item__link:hover {
  color: #337ab7;
}
.header__container__list .list__item__link__button {
  background-color: #337ab7;
  border-radius: 50px;
  padding: 10px 17px;
  color: #ffffff;
}
.header__container__list .list__item__link__button:hover {
  background-color: #3498db;
}

/* Header media */
@media (max-width: 1440px) {
  .header__container {
    max-width: min(1250px, 100%);
  }
}
@media (max-width: 1250px) {
  .header__container {
    max-width: min(1170px, 100%);
  }
}
@media (max-width: 1170px) {
  .header__container {
    max-width: min(962px, 100%);
  }
}
@media (max-width: 962px) {
  .header__container {
    max-width: min(768px, 100%);
  }
  .header__container__logo {
    margin: 8px auto 8px 0;
  }
  .header__container__logo__img {
    width: 70px;
    height: 70px;
  }
  .header__container__list {
    margin: 34px 0 34px auto;
  }
  .list__item__link {
    font-size: 14px;
    padding: 10px 15px;
  }
}
@media (max-width: 768px) {
  .header__container {
    max-width: 667px;
  }
  .header__container__block {
    justify-content: center;
    align-items: center;
  }
  .header__container__logo {
    margin: 5px auto 5px 0;
    display: flex;
    flex-direction: row;
    width: 667px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .header__container__list {
    display: none;
  }
  .header__burger {
    width: 42px;
    height: 33px;
    border-radius: 4px;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #337ab7;
  }
  .header__container__list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    padding: 15px;
    z-index: 0;
    margin: 0;
  }
  .header__container__list.active .list__item {
    margin-bottom: 10px;
  }
  .header__container__list.active .list__item__link {
    font-size: 16px;
    padding: 0;
  }
  .header__container__list.active .list__item__link__button {
    display: block;
    margin: 0;
    padding: 10px 20px;
    border-radius: 50px;
  }
}
@media (max-width: 667px) {
  .header__container {
    max-width: 468px;
  }
}
@media (max-width: 468px) {
  .header__container {
    max-width: 320px;
  }
}
.content {
  width: 100%;
  margin: 100px auto 0 auto;
}

.registration {
  width: 100%;
  padding-top: 54px;
  background-color: #f7f7f7;
}
.registration__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.registration__container .registration__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

/* Content left block */
.registration__info {
  text-align: center;
  padding: 0 13px;
  margin: 16px 0 0 -26px;
}
.registration__info-h {
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 90px;
  letter-spacing: 1.5px;
}
.registration__info-p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 32px;
  text-align: center;
  padding: 0 64px;
  letter-spacing: 1px;
  color: #b6b7b9;
}

/* Content right block(form) */
.registration__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.registration__form-h {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 18px;
}
.registration__form .registration__label {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}
.registration__form .registration__label .registration__required img {
  height: 9px;
  width: 9px;
  margin-top: 3px;
  margin-left: 2px;
}
.registration__form-input {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.registration__form-input #registration__name,
.registration__form-input #registration__surname,
.registration__form-input #registration__interest,
.registration__form-input #registration__phone,
.registration__form-input #registration__email {
  width: 590px;
  height: 52px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 15px;
  margin: 8px 0 12px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
}
.registration__form-input #registration__name::placeholder,
.registration__form-input #registration__surname::placeholder,
.registration__form-input #registration__interest::placeholder,
.registration__form-input #registration__phone::placeholder,
.registration__form-input #registration__email::placeholder {
  color: black;
  font-size: 15px;
}

/* Checkbox style */
.registration__form_checkbox {
  display: inline-flex;
  align-items: center;
  margin: 10px 0 37px 0;
}
.registration__form_checkbox #registration__checkbox {
  width: 13px;
  height: 13px;
  margin: 0 7px 0 0;
}
.registration__form_checkbox .registration__required img {
  height: 9px;
  width: 9px;
  margin-top: 3px;
  margin-left: 4px;
}

/* Form submit button */
#registration__submit {
  width: 370px;
  height: 52px;
  padding: 10px 15px;
  margin: 0 auto 28px auto;
  border-radius: 35px;
  font-weight: bold;
  background-color: #337ab7;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.75px;
  cursor: pointer;
}
#registration__submit:hover {
  background-color: #3498db;
}

/* Content media */
@media (max-width: 1440px) {
  .registration__container {
    max-width: min(1250px, 100%);
  }
}
@media (max-width: 1250px) {
  .registration__container {
    max-width: min(1170px, 100%);
  }
}
@media (max-width: 1170px) {
  .registration__container {
    max-width: min(962px, 100%);
  }
  .registration__container .registration__info {
    margin-top: -180px;
  }
  .registration__container .registration__info-h {
    line-height: 45px;
    letter-spacing: 1px;
    font-size: 30px;
  }
  .registration__container .registration__info-p {
    padding: 0;
  }
  .registration__container #registration__name,
.registration__container #registration__surname,
.registration__container #registration__interest,
.registration__container #registration__phone,
.registration__container #registration__email {
    width: 481px;
  }
}
@media (max-width: 962px) {
  .registration__container {
    max-width: min(768px, 100%);
  }
  .registration__container .registration__block {
    display: flex;
    flex-direction: column;
  }
  .registration__container .registration__info {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .registration__container .registration__info-h {
    margin-bottom: 10px;
  }
  .registration__container #registration__name,
.registration__container #registration__surname,
.registration__container #registration__interest,
.registration__container #registration__phone,
.registration__container #registration__email {
    width: 590px;
  }
}
@media (max-width: 768px) {
  .registration__container {
    max-width: min(667px, 100%);
  }
  .registration__container .registration__info {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .registration__container .registration__info-h {
    margin-bottom: 10px;
  }
  .registration__container .registration__info-p {
    padding: 0 10px;
  }
  .registration__container #registration__name,
.registration__container #registration__surname,
.registration__container #registration__interest,
.registration__container #registration__phone,
.registration__container #registration__email {
    width: 550px;
  }
}
@media (max-width: 667px) {
  .registration__container {
    max-width: min(468px, 100%);
  }
  .registration__container .registration__info {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .registration__container .registration__info-h {
    margin-bottom: 10px;
  }
  .registration__container #registration__name,
.registration__container #registration__surname,
.registration__container #registration__interest,
.registration__container #registration__phone,
.registration__container #registration__email {
    width: 430px;
  }
}
@media (max-width: 468px) {
  .registration {
    padding-top: 40px;
  }
  .registration .registration__container {
    max-width: min(320px, 100%);
  }
  .registration .registration__container .registration__info {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 10px;
    overflow: hidden;
  }
  .registration .registration__container .registration__info-h {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 28px;
  }
  .registration .registration__container .registration__info-p {
    overflow: hidden;
    font-size: 14px;
  }
  .registration .registration__container #registration__name,
.registration .registration__container #registration__surname,
.registration .registration__container #registration__interest,
.registration .registration__container #registration__phone,
.registration .registration__container #registration__email {
    width: 290px;
  }
  .registration .registration__container .registration__form h {
    font-size: 22px;
  }
  .registration .registration__container .registration__form_checkbox {
    max-width: min(290px, 100%);
  }
  .registration .registration__container .registration__label-checkbox {
    line-height: 18px;
  }
  .registration .registration__container #registration__submit {
    width: 280px;
  }
}
/* Course style */
.course {
  width: 100%;
  padding-top: 70px;
  margin-bottom: 0;
}
.course__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.course__container .course__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.course__container .course__block .course-h1 {
  font-size: 33px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.4px;
  margin-bottom: 10px;
  font-weight: bold;
}
.course__container .course__block .course__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.course__container .course__block .course__card .slick-list {
  overflow: hidden;
}
.course__container .course__block .course__card .slick-track {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.course__container .course__block .course__card .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.course__container .course__block .course__card .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course__container .course__block .course__card .slick-dots li {
  list-style: none;
  margin: 0 10px 40px 10px;
}
.course__container .course__block .course__card .slick-dots button {
  font-size: 0;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border: none;
  background-color: #b3b3b3;
}
.course__container .course__block .course__card .slick-dots li button:before {
  display: none;
}
.course__container .course__block .course__card .slick-dots .slick-active button {
  background-color: #666666;
}
.course__container .course__block .course__card .course__card-1,
.course__container .course__block .course__card .course__card-2,
.course__container .course__block .course__card .course__card-3 {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 28px 0 28px;
  align-items: center;
}
.course__container .course__block .course__card .course__card-1 img,
.course__container .course__block .course__card .course__card-2 img,
.course__container .course__block .course__card .course__card-3 img {
  width: 85px;
  height: 85px;
  margin: 29px -2px 22px 1px;
}
.course__container .course__block .course__card .course__card-1 h2,
.course__container .course__block .course__card .course__card-2 h2,
.course__container .course__block .course__card .course__card-3 h2 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 28px;
  border-bottom: 1px solid #8fc6eb;
  padding-bottom: 20px;
  letter-spacing: 0.3px;
}
.course__container .course__block .course__card .course__card-1 p,
.course__container .course__block .course__card .course__card-2 p,
.course__container .course__block .course__card .course__card-3 p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #c3c3c3;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: center;
}

/* Course media */
@media (max-width: 1440px) {
  .course__container {
    max-width: min(1250px, 100%);
  }
}
@media (max-width: 1250px) {
  .course__container {
    max-width: min(1170px, 100%);
  }
  .course__container .course__block .course__card .course__card-1,
.course__container .course__block .course__card .course__card-2,
.course__container .course__block .course__card .course__card-3 {
    width: 330px;
    margin: 0 20px 0 20px;
  }
  .course__container .course__block .course__card .course__card-1 h2,
.course__container .course__block .course__card .course__card-2 h2,
.course__container .course__block .course__card .course__card-3 h2 {
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .course__container .course__block .course__card .course__card-1 p,
.course__container .course__block .course__card .course__card-2 p,
.course__container .course__block .course__card .course__card-3 p {
    font-size: 13px;
  }
}
@media (max-width: 1170px) {
  .course__container {
    max-width: min(962px, 100%);
  }
  .course__container .course__block .course__card {
    flex-direction: column;
  }
  .course__container .course__block .course__card .course__card-1,
.course__container .course__block .course__card .course__card-2,
.course__container .course__block .course__card .course__card-3 {
    width: 330px;
    margin: 0 20px 15px 20px;
  }
  .course__container .course__block .course__card .course__card-1 h2,
.course__container .course__block .course__card .course__card-2 h2,
.course__container .course__block .course__card .course__card-3 h2 {
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .course__container .course__block .course__card .course__card-1 p,
.course__container .course__block .course__card .course__card-2 p,
.course__container .course__block .course__card .course__card-3 p {
    font-size: 13px;
  }
}
@media (max-width: 962px) {
  .course__container {
    max-width: min(768px, 100%);
  }
}
@media (max-width: 768px) {
  .course__container {
    max-width: min(667px, 100%);
  }
}
@media (max-width: 667px) {
  .course__container {
    max-width: min(468px, 100%);
  }
}
@media (max-width: 468px) {
  .course__container {
    max-width: min(320px, 100%);
  }
  .course__container .course__block .course-h1 {
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .course__container .course__block .course__card .course__card-1 p,
.course__container .course__block .course__card .course__card-2 p,
.course__container .course__block .course__card .course__card-3 p {
    font-size: 13px;
    line-height: 20px;
  }
}
/* Statistic style */
.statistic {
  padding: 67px 0;
  width: 100%;
  background-color: #3498db;
  margin-top: 93px;
}

.statistic__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.statistic__container .statistic__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.statistic__container .statistic__item img {
  width: 85px;
  height: 60px;
}
.statistic__container .statistic__item h2 {
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: white;
  margin: 25px 0 18px 0;
}
.statistic__container .statistic__item p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.statistic__container .statistic__item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  margin: 0 20px 0 59px;
}
.statistic__container .statistic__item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  margin: 0 0 0 34px;
}
.statistic__container .statistic__item-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  margin: 0 16px 0 62px;
}
.statistic__container .statistic__item-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  margin: 0 -8px 0 0;
}

/* Statistic media */
@media (max-width: 1440px) {
  .statistic__container {
    max-width: min(1250px, 100%);
  }
}
@media (max-width: 1250px) {
  .statistic__container {
    max-width: min(1170px, 100%);
  }
}
@media (max-width: 1170px) {
  .statistic__container {
    max-width: min(962px, 100%);
  }
  .statistic__container .statistic__item h2 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 15px 0 15px 0;
  }
  .statistic__container .statistic__item p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  .statistic__container .statistic__item-1 {
    margin: 0;
  }
  .statistic__container .statistic__item-2 {
    margin: 0;
  }
  .statistic__container .statistic__item-3 {
    margin: 0;
  }
  .statistic__container .statistic__item-4 {
    margin: 0;
  }
}
@media (max-width: 962px) {
  .statistic__container {
    max-width: min(768px, 100%);
  }
  .statistic__container .statistic__item h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 15px 0 15px 0;
  }
  .statistic__container .statistic__item p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }
  .statistic__container .statistic__item-1 {
    margin: 0;
  }
  .statistic__container .statistic__item-2 {
    margin: 0;
  }
  .statistic__container .statistic__item-3 {
    margin: 0;
  }
  .statistic__container .statistic__item-4 {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .statistic__container {
    max-width: min(667px, 100%);
  }
}
@media (max-width: 667px) {
  .statistic__container {
    max-width: min(468px, 100%);
  }
}
@media (max-width: 468px) {
  .statistic__container {
    max-width: 320px;
  }
  .statistic__container .statistic__item {
    justify-content: center;
  }
  .statistic__container .statistic__item h2 {
    font-size: 16px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 15px 0 15px 0;
  }
  .statistic__container .statistic__item p {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
  }
  .statistic__container .statistic__item-1 {
    padding: 10px 10px;
    margin: 0 0 0 -2px;
  }
  .statistic__container .statistic__item-2 {
    padding: 10px 10px;
    margin: 0;
  }
  .statistic__container .statistic__item-3 {
    padding: 10px 10px;
    margin: 0 6px 0 0;
  }
  .statistic__container .statistic__item-4 {
    padding: 10px 10px;
    margin: 0;
    width: 160px;
  }
  .statistic__container .statistic__item-4 p {
    text-align: center;
  }
}
/* Comments style */
.comments {
  width: 100%;
  padding-top: 71px;
  margin-bottom: 0;
}
.comments__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.comments .comments__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.comments .comments__block-title {
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.comments .comments__block .comments__slider-item-text img {
  width: 62px;
  height: 32px;
}
.comments .comments__block .comments__slider {
  width: 100%;
}
.comments .comments__block .comments__slider .slick-list {
  overflow: hidden;
}
.comments .comments__block .comments__slider .slick-track {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.comments .comments__block .comments__slider .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.comments .comments__block .comments__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 95px 1px 1px 1px;
}
.comments .comments__block .comments__slider .slick-dots li {
  list-style: none;
  margin: 0 10px 40px 4px;
}
.comments .comments__block .comments__slider .slick-dots button {
  font-size: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: none;
  background-color: #b3b3b3;
}
.comments .comments__block .comments__slider .slick-dots li button:before {
  display: none;
}
.comments .comments__block .comments__slider .slick-dots .slick-active button {
  background-color: #666666;
}
.comments .comments__block .comments__slider-item {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.comments .comments__block .comments__slider-item-text {
  position: relative;
  margin: 0 auto 20px auto;
  width: 1008px;
  padding: 33px 47px 10px 42px;
}
.comments .comments__block .comments__slider-item-text .comments__slider-item-comment {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  text-align: center;
}
.comments .comments__block .comments__slider-item-text .quote-left {
  position: absolute;
  top: 13px;
  left: 0;
}
.comments .comments__block .comments__slider-item-text .quote-right {
  position: absolute;
  bottom: 5px;
  right: 0;
}
.comments .comments__block .comments__slider-item .comments__slider-item-people h2 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 10px 0 6px -2px;
}
.comments .comments__block .comments__slider-item .comments__slider-item-people p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

/* Comments media */
@media (max-width: 1440px) {
  .comments__container {
    max-width: min(1250px, 100%);
  }
}
@media (max-width: 1250px) {
  .comments__container {
    max-width: min(1170px, 100%);
  }
}
@media (max-width: 1170px) {
  .comments__container {
    max-width: min(962px, 100%);
  }
}
@media (max-width: 962px) {
  .comments__container {
    max-width: min(768px, 100%);
  }
}
@media (max-width: 768px) {
  .comments__container {
    max-width: min(667px, 100%);
  }
}
@media (max-width: 667px) {
  .comments__container {
    max-width: min(468px, 100%);
  }
}
@media (max-width: 468px) {
  .comments__container {
    max-width: min(320px, 100%);
  }
}

/*# sourceMappingURL=style.css.map */
