@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  z-index: 100;
  height: 100px;
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header__burger__toogle {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  position: relative;
}
.header__burger__toogle::before, .header__burger__toogle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 2px;
}
.header__burger__toogle::before {
  transform: translateY(-8px);
}
.header__burger__toogle::after {
  transform: translateY(8px);
}
.header__burger.active__toogle {
  background-color: transparent;
}
.header__burger.active__toogle::before {
  transform: rotate(45deg) translate(5px, 5px);
}
.header__burger.active__toogle::after {
  transform: rotate(-45deg) translate(5px, -5px);
}
.header__container {
  width: 1250px;
  height: 100px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__container__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.header__container__logo__img {
  width: 80px;
  height: 80px;
}
.header__container__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  align-items: center;
  margin: 0;
}
.header__container__list .list__item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.header__container__list .list__item__link {
  text-decoration: none;
  color: #a2a7b7;
  padding: 10px 16px;
}
.header__container__list .list__item__link:hover {
  color: #337ab7;
}
.header__container__list .list__item__link__button {
  background-color: #337ab7;
  border-radius: 50px;
  padding: 10px 17px;
  color: #ffffff;
}
.header__container__list .list__item__link__button:hover {
  background-color: #3498db;
}

.content {
  width: 100%;
  margin: 100px auto 0 auto;
}

.registration {
  width: 100%;
  padding-top: 54px;
  background-color: #f7f7f7;
}
.registration__container {
  max-width: min(1250px, 100%);
  margin: 0 auto;
}
.registration__container .registration__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

/* Content left block */
.registration__info {
  text-align: center;
  padding: 0 20px;
  margin: 10px 0;
}
.registration__info-h {
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 65px;
  letter-spacing: 1px;
}
.registration__info-p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 32px;
  text-align: center;
  padding: 0 45px;
  color: #b6b7b9;
}

/* Content right block(form) */
.registration__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.registration__form-h {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 18px;
}
.registration__form .registration__label {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}
.registration__form .registration__label .registration__required img {
  height: 9px;
  width: 9px;
  margin-top: 3px;
  margin-left: 2px;
}
.registration__form-input {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.registration__form-input #registration__name,
.registration__form-input #registration__surname,
.registration__form-input #registration__interest,
.registration__form-input #registration__phone,
.registration__form-input #registration__email {
  width: 590px;
  height: 52px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 15px;
  margin: 8px 0 12px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
}
.registration__form-input #registration__name::placeholder,
.registration__form-input #registration__surname::placeholder,
.registration__form-input #registration__interest::placeholder,
.registration__form-input #registration__phone::placeholder,
.registration__form-input #registration__email::placeholder {
  color: black;
  font-size: 15px;
}

/* Checkbox settings */
.registration__form_checkbox {
  display: inline-flex;
  align-items: center;
  margin: 10px 0 37px 0;
}
.registration__form_checkbox #registration__checkbox {
  width: 13px;
  height: 13px;
  margin: 0 7px 0 0;
}
.registration__form_checkbox .registration__required img {
  height: 9px;
  width: 9px;
  margin-top: 3px;
  margin-left: 4px;
}

/* FOrm submit button */
#registration__submit {
  width: 370px;
  height: 52px;
  padding: 10px 15px;
  margin: 0 auto 28px auto;
  border-radius: 35px;
  font-weight: bold;
  background-color: #337ab7;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.75px;
}

@media (max-width: 1440px) {
  .header__container {
    max-width: 1220px;
  }
}
@media (max-width: 1220px) {
  .header__container {
    max-width: 9620px;
  }
}
@media (max-width: 962px) {
  .header__container {
    max-width: 768px;
  }
  .header__container__logo {
    margin: 8px auto 8px 0;
  }
  .header__container__logo__img {
    width: 70px;
    height: 70px;
  }
  .header__container__list {
    margin: 34px 0 34px auto;
  }
  .list__item__link {
    font-size: 14px;
    padding: 10px 15px;
  }
}
@media (max-width: 768px) {
  .header__container {
    max-width: 667px;
  }
  .header__container__block {
    justify-content: center;
    align-items: center;
  }
  .header__container__logo {
    margin: 5px auto 5px 0;
    display: flex;
    flex-direction: row;
    width: 667px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .header__container__list {
    display: none;
  }
  .header__burger {
    width: 42px;
    height: 33px;
    border-radius: 4px;
    z-index: 25;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #337ab7;
  }
  .header__container__list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
    padding: 15px;
    z-index: 0;
    margin: 0;
  }
  .header__container__list.active .list__item {
    margin-bottom: 10px;
  }
  .header__container__list.active .list__item__link {
    font-size: 16px;
    padding: 0;
  }
  .header__container__list.active .list__item__link__button {
    display: block;
    margin: 0;
    padding: 10px 20px;
    border-radius: 50px;
  }
}
@media (max-width: 667px) {
  .header__container {
    max-width: 467px;
  }
}
@media (max-width: 467px) {
  .header__container {
    max-width: 320px;
  }
}

/*# sourceMappingURL=style.css.map */
