/* Comments style */
.comments {
  width: 100%;
  padding-top: 71px;
  margin-bottom: 0;

  &__container {
    max-width: min($wide-width, 100%);
    margin: 0 auto;
  }

  & .comments__block {
    @include flex-column;
    align-items: center;
    padding: 0 15px;

    &-title {
      font-size: 34px;
      font-family: $font-family-base;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .comments__slider-item-text img {
      width: 62px;
      height: 32px;
    }

    .comments__slider {
      width: 100%;

      .slick-list {
        overflow: hidden;
      }

      .slick-track {
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 100%;
      }

      .slick-slide {
        @include flex-column;
        align-items: center;
        text-align: center;
      }

      .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 95px 1px 1px 1px;

        & li {
          list-style: none;
          margin: 0 10px 40px 4px;
        }

        & button {
          font-size: 0;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          border: none;
          background-color: $dark-gray;
        }

        & li button:before {
          display: none;
        }

        .slick-active button {
          background-color: $dark-gray-two;
        }
      }

      &-item {
        @include flex-column;
        margin-bottom: 12px;
        justify-content: center;
        align-items: center;

        &-text {
          position: relative;
          margin: 0 auto 18px auto;
          width: 1008px;
          padding: 33px 47px 10px 42px;

          .comments__slider-item-comment {
            font-size: $fs-lg-md;
            font-family: $font-family-base;
            line-height: 36px;
            text-align: center;
          }

          .quote-left {
            position: absolute;
            top: 13px;
            left: 0;
          }

          .quote-right {
            position: absolute;
            bottom: 5px;
            right: 0;
          }
        }

        .comments__slider-item-people {
          & h2 {
            font-size: $fs-small-medium;
            font-family: $font-family-base;
            text-align: center;
            margin: 10px 0 6px -2px;
          }

          & p {
            font-size: $fs-base;
            font-family: $font-family-base;
            font-style: italic;
          }
        }
      }
    }
  }
}

/* Comments media */
@media (max-width: $laptop) {
  .comments__container {
    max-width: min($wide-width, 100%);
  }
}

@media (max-width: $wide-width) {
  .comments__container {
    max-width: min($wide-width-small, 100%);
  }
}

@media (max-width: $wide-width-small) {
  .comments__container {
    max-width: min($desktop-width, 100%);

    & .comments__block {
      .comments__slider-item-text {
        width: 950px;

        & img {
          width: 50px;
        }

        & .quote-right {
          bottom: 10px;
        }

        & .quote-left {
          top: 15px;
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .comments__container {
    max-width: min($tablet-width, 100%);

    & .comments__block {

      & .comments__slider {
        & .slick-dots {
          margin: 25px 1px 1px 1px;

          & li {
            margin: 0 10px 16px 4px;
          }
        }
      }

      .comments__slider-item-text {
        width: 750px;

        & img {
          width: 40px;
        }

        & .quote-right {
          bottom: -10px;
        }

        & .quote-left {
          top: 10px;
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .comments__container {
    max-width: min($small-tablet, 100%);

    & .comments__block {
      .comments__slider-item-text {
        width: 650px;
        padding: 25px 30px 10px 30px;

        & .comments__slider-item-comment {
          font-size: $fs-medium-small;
        }

        & .quote-right {
          bottom: -16px;
        }

        & .quote-left {
          top: 16px;
        }
      }
    }
  }
}

@media (max-width: $small-tablet) {
  .comments__container {
    max-width: min($small-mobile-width, 100%);

    & .comments__block {

      & .comments__slider-item {
        & .comments__slider-item-people {
          & h2 {
            font-size: $fs-base;
          }

          & p {
            font-size: $fs-small;
          }
        }
      }

      & .comments__slider {
        & .slick-dots {
          margin: 16px 1px 1px 1px;

          & li {
            margin: 0 10px 16px 4px;
          }
        }
      }

      .comments__slider-item-text {
        width: 440px;
        padding: 25px 25px 10px 25px;

        & .comments__slider-item-comment {
          font-size: $fs-base;
        }

        & img {
          width: 32px;
        }

        & .quote-right {
          bottom: -10px;
        }

        & .quote-left {
          top: 16px;
        }
      }
    }
  }
}

@media (max-width: $small-mobile-width) {
  .comments__container {
    max-width: min($extra-small-mobile, 100%);

    & .comments__block {
      &-title {
        font-size: $fs-extra-medium;
      }

      & .comments__slider-item {
        & .comments__slider-item-people {
          & h2 {
            font-size: $fs-small;
          }

          & p {
            font-size: $fs-extra-small;
          }
        }
      }

      & .comments__slider {
        & .slick-dots {
          margin: 16px 1px 1px 1px;

          & li {
            margin: 0 10px 16px 4px;
          }
        }
      }

      .comments__slider-item-text {
        width: 290px;
        padding: 25px 15px 10px 16px;
        margin: 0 auto 15px auto;

        & .comments__slider-item-comment {
          font-size: $fs-small;
          line-height: 22px;
        }

        & img {
          width: 20px;
        }

        & .quote-right {
          bottom: 0;
        }

        & .quote-left {
          top: 10px;
        }
      }
    }
  }
}

