/* Content style */
.content {
  width: 100%;
  margin: 100px auto 0 auto;
}

.registration {
  width: 100%;
  padding-top: 54px;
  background-color: $dark-white;

  &__container {
    max-width: min($wide-width, 100%);
    margin: 0 auto;

    & .registration__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
    }
  }
}

/* Content left block */
.registration__info {
  text-align: center;
  padding: 0 13px;
  margin: 16px 0 0 -26px;

  &-h {
    font-size: $fs-large-medium;
    font-family: $font-family-base;
    font-weight: bold;
    line-height: 90px;
    letter-spacing: 1.5px;
  }

  &-p {
    font-size: $fs-base;
    font-family: $font-family-base;
    line-height: 32px;
    text-align: center;
    padding: 0 64px;
    letter-spacing: 1px;
    color: $light-gray;
  }
}

/* Content right block(form) */
.registration__form {
  @include flex-column;
  align-items: flex-start;

  &-h {
    font-size: $fs-lg-extra;
    font-weight: bold;
    font-family: $font-family-base;
    margin-bottom: 18px;
  }

  .registration__label {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: $font-family-base;
    align-items: center;

    .registration__required img {
      height: 9px;
      width: 9px;
      margin-top: 3px;
      margin-left: 2px;
    }
  }

  &-input {
    @include flex-column;
    font-size: $fs-small;
    font-family: $font-family-base;

    & #registration__name,
    #registration__surname,
    #registration__interest,
    #registration__phone,
    #registration__email {
      width: 590px;
      height: 52px;
      border: 1px solid $light-gray-two;
      border-radius: 5px;
      padding: 15px;
      font-size: $fs-icon-deck;
      margin: 8px 0 12px 0;
      box-shadow: 0 1px 1px $light-black inset;

      &::placeholder {
        color: $black;
        font-size: $fs-icon-deck;
      }
    }
  }
}

/* Checkbox style */

.registration__form_checkbox {
  display: inline-flex;
  align-items: center;
  margin: 10px 0 37px 0;

  #registration__checkbox {
    width: 13px;
    height: 13px;
    margin: 0 7px 0 0;
  }

  .registration__required img {
    height: 9px;
    width: 9px;
    margin-top: 3px;
    margin-left: 4px;
  }
}

/* Form submit button */

#registration__submit {
  width: 370px;
  height: 52px;
  padding: 10px 15px;
  margin: 0 auto 28px auto;
  border-radius: 35px;
  font-weight: bold;
  background-color: $blue;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.75px;
  cursor: pointer;

  &:hover {
    background-color: $light-blue;
  }
}

/* Content media */

@media (max-width: $laptop) {
  .registration__container {
    max-width: min($wide-width, 100%);
  }
}

@media (max-width: $wide-width) {
  .registration__container {
    max-width: min($wide-width-small, 100%);
  }
}

@media (max-width: $wide-width-small) {
  .registration__container {
    max-width: min($desktop-width, 100%);

    & .registration__info {
      margin-top: -180px;

      &-h {
        line-height: 45px;
        letter-spacing: 1px;
        font-size: $fs-large;
      }

      &-p {
        padding: 0;
      }
    }

    & #registration__name,
    #registration__surname,
    #registration__interest,
    #registration__phone,
    #registration__email {
      width: 481px;
    }
  }
}

@media (max-width: $desktop-width) {
  .registration__container {
    max-width: min($tablet-width, 100%);

    & .registration__block {
      @include flex-column;
    }

    & .registration__info {
      margin-top: 0;
      margin-bottom: 20px;

      &-h {
        margin-bottom: 10px;
      }
    }

    & #registration__name,
    #registration__surname,
    #registration__interest,
    #registration__phone,
    #registration__email {
      width: 590px;
    }
  }
}

@media (max-width: $tablet-width) {
  .registration__container {
    max-width: min($small-tablet, 100%);

    & .registration__info {
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0 10px;

      &-h {
        margin-bottom: 10px;
      }

      &-p {
        padding: 0 10px;
      }
    }

    & #registration__name,
    #registration__surname,
    #registration__interest,
    #registration__phone,
    #registration__email {
      width: 550px;
    }

  }
}

@media (max-width: $small-tablet) {
  .registration__container {
    max-width: min($small-mobile-width, 100%);

    & .registration__info {
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0 15px;

      &-h {
        margin-bottom: 10px;
      }
    }

    #registration__name,
    #registration__surname,
    #registration__interest,
    #registration__phone,
    #registration__email {
      width: 430px;
    }
  }
}

@media (max-width: $small-mobile-width) {
  .registration {
    padding-top: 40px;

    .registration__container {
      max-width: min($extra-small-mobile, 100%);

      & .registration__info {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0 10px;
        overflow: hidden;

        &-h {
          margin-bottom: 10px;
          font-size: $fs-lg-md;
          line-height: 28px;
        }

        &-p {
          overflow: hidden;
          font-size: $fs-small;
        }
      }

      #registration__name,
      #registration__surname,
      #registration__interest,
      #registration__phone,
      #registration__email {
        width: 290px;
      }

      .registration__form-h {
        font-size: $fs-lg-md;
      }

      .registration__form_checkbox {
        max-width: min(290px, 100%);
      }

      .registration__label-checkbox {
        line-height: 18px;
      }

      #registration__submit {
        width: 280px;
      }
    }
  }
}

