/* Course style */
.course {
  width: 100%;
  padding-top: 70px;
  margin-bottom: 0;

  &__container {
    max-width: min($wide-width, 100%);
    margin: 0 auto;

    & .course__block {
      @include flex-column;
      align-items: center;
      padding: 0 15px;

      .course-h1 {
        font-size: $fs-large-small;
        font-family: $font-family-base;
        letter-spacing: 1.4px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .course__card {
        @include flex-column;
        width: 100%;
        justify-content: center;

        .slick-list {
          overflow: hidden;
        }

        .slick-track {
          display: flex;
          justify-content: center;
          overflow: hidden;
          width: 100%;
        }

        .slick-slide {
          @include flex-column;
          align-items: center;
          text-align: center;
        }

        .slick-dots {
          display: flex;
          justify-content: center;
          align-items: center;

          & li {
            list-style: none;
            margin: 0 10px 40px 10px;
          }

          & button {
            font-size: 0;
            border-radius: 50%;
            width: 13px;
            height: 13px;
            border: none;
            background-color: $dark-gray;
          }

          & li button:before {
            display: none;
          }

          .slick-active button {
            background-color: $dark-gray-two;
          }
        }

        .course__card-1,
        .course__card-2,
        .course__card-3 {
          @include flex-column;
          width: 350px;
          margin: 0 28px 0 28px;
          align-items: center;

          & img {
            width: 85px;
            height: 85px;
            margin: 29px -2px 22px 1px;
          }

          & h2 {
            font-size: $fs-lg-extra;
            font-family: $font-family-base;
            margin-bottom: 28px;
            border-bottom: 1px solid $extra-light-blue;
            padding-bottom: 20px;
            letter-spacing: 0.3px;
          }

          & p {
            font-size: $fs-small;
            font-family: $font-family-base;
            color: $light-gray-two;
            line-height: 25px;
            letter-spacing: 1px;
            text-align: center;
          }
        }

      }
    }
  }
}

/* Course media */
@media (max-width: $laptop) {
  .course__container {
    max-width: min($wide-width, 100%);
  }
}

@media (max-width: $wide-width) {
  .course__container {
    max-width: min($wide-width-small, 100%);

    & .course__block {
      .course__card {
        .course__card-1,
        .course__card-2,
        .course__card-3 {
          width: 330px;
          margin: 0 20px 0 20px;

          & h2 {
            font-size: $fs-lg-md;
            margin-bottom: 20px;
            padding-bottom: 10px;
          }

          & p {
            font-size: $fs-small-md;
          }
        }
      }
    }
  }
}

@media (max-width: $wide-width-small) {
  .course__container {
    max-width: min($desktop-width, 100%);

    & .course__block {
      .course__card {
        flex-direction: column;

        .course__card-1,
        .course__card-2,
        .course__card-3 {
          width: 330px;
          margin: 0 20px 15px 20px;

          & h2 {
            font-size: $fs-lg-md;
            margin-bottom: 20px;
            padding-bottom: 10px;
          }

          & p {
            font-size: $fs-small-md;
          }
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .course__container {
    max-width: min($tablet-width, 100%);

  }
}

@media (max-width: $tablet-width) {
  .course__container {
    max-width: min($small-tablet, 100%);
  }
}

@media (max-width: $small-tablet) {
  .course__container {
    max-width: min($small-mobile-width, 100%);
  }
}

@media (max-width: $small-mobile-width) {
  .course__container {
    max-width: min($extra-small-mobile, 100%);

    & .course__block {
      & .course-h1 {
        font-size: $fs-medium-small;
        margin-bottom: 20px;
        padding-bottom: 10px;
      }

      & .course__card {

        & .course__card-1 p,
        .course__card-2 p,
        .course__card-3 p {
          font-size: $fs-small-md;
          line-height: 20px;
        }
      }
    }
  }
}
