/* Slider settings */
.slider {
  width: 100%;
  padding-top: 70px;
  margin-bottom: 0;

  &__container {
    max-width: min(1250px, 100%);
    margin: 0 auto;

    & .slider__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;

      .slider-h1 {
        font-size: 33px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 1.4px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      .slider__card {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .slider__card-1,
        .slider__card-2,
        .slider__card-3 {
          display: flex;
          flex-direction: column;
          width: 350px;
          height: 350px;
          margin: 0 28px 0 28px;
          align-items: center;

          & img {
            width: 85px;
            height: 85px;
            margin: 29px -2px 22px 1px;
          }

          & h2 {
            font-size: 24px;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 28px;
            border-bottom: 1px solid #8fc6eb;
            padding-bottom: 20px;
            letter-spacing: 0.3px;
          }

          & p {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            color: #c3c3c3;
            line-height: 25px;
            letter-spacing: 1px;
            text-align: center;
          }
        }
      }
    }
  }
}

/* Slider adaptive */
@media (max-width: 1440px) {
  .slider__container {
    max-width: min(1250px, 100%);
  }
}

@media (max-width: 1250px) {
  .slider__container {
    max-width: min(1170px, 100%);

    & .slider__block {
      .slider__card {
        .slider__card-1,
        .slider__card-2,
        .slider__card-3 {
          width: 330px;
          height: 330px;
          margin: 0 20px 0 20px;

          & h2 {
            font-size: 22px;
            margin-bottom: 20px;
            padding-bottom: 10px;
          }

          & p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 1170px) {
  .slider__container {
    max-width: min(962px, 100%);

    & .slider__block {
      .slider__card {
        .slider__card-1,
        .slider__card-2,
        .slider__card-3 {
          width: 330px;
          height: 330px;
          margin: 0 20px 0 20px;

          & h2 {
            font-size: 22px;
            margin-bottom: 20px;
            padding-bottom: 10px;
          }

          & p {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media (max-width: 962px) {
  .slider__container {
    max-width: min(768px, 100%);

    & .registration__block {
      display: flex;
      flex-direction: column;
    }

    & .registration__info {
      margin-top: 0;
      margin-bottom: 20px;

      &-h {
        margin-bottom: 10px;
      }
    }

    & #registration__name,
    #registration__surname,
    #registration__interest,
    #registration__phone,
    #registration__email {
      width: 590px;
    }
  }
}

@media (max-width: 768px) {
  .registration__container {
    max-width: min(667px, 100%);

    & .registration__info {
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0 10px;

      &-h {
        margin-bottom: 10px;
      }

      &-p {
        padding: 0 10px;
      }
    }

    & #registration__name,
    #registration__surname,
    #registration__interest,
    #registration__phone,
    #registration__email {
      width: 550px;
    }

  }
}

@media (max-width: 667px) {
  .registration__container {
    max-width: min(468px, 100%);

    & .registration__info {
      margin-top: 0;
      margin-bottom: 20px;
      padding: 0 15px;

      &-h {
        margin-bottom: 10px;
      }
    }

    #registration__name,
    #registration__surname,
    #registration__interest,
    #registration__phone,
    #registration__email {
      width: 430px;
    }
  }
}

@media (max-width: 468px) {
  .registration {
    padding-top: 40px;

    .registration__container {
      max-width: min(320px, 100%);

      & .registration__info {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0 15px;

        &-h {
          margin-bottom: 10px;
        }
      }

      #registration__name,
      #registration__surname,
      #registration__interest,
      #registration__phone,
      #registration__email {
        width: 290px;
      }

      .registration__form_checkbox {
        max-width: min(290px, 100%);
      }

      #registration__submit {
        width: 280px;
      }
    }
  }
}
