/* Statistic style */
.statistic {
  padding: 67px 0;
  width: 100%;
  background-color: $light-blue;
  margin-top: 118px;
}

.statistic__container {
  max-width: min($wide-width, 100%);
  margin: 0 auto;

  .statistic__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    & img {
      width: 85px;
      height: 60px;
    }

    & h2 {
      font-size: $fs-lg-medium;
      font-family: $font-family-base;
      font-weight: bold;
      color: $white;
      margin: 25px 0 18px 0;
    }

    & p {
      font-size: $fs-base;
      font-family: $font-family-base;
      color: $white;
    }

    &-1 {
      @include flex-column;
      align-items: center;
      padding: 15px 20px;
      margin: 0 20px 0 59px;
    }

    &-2 {
      @include flex-column;
      align-items: center;
      padding: 15px 20px;
      margin: 0 0 0 34px;
    }

    &-3 {
      @include flex-column;
      align-items: center;
      padding: 15px 20px;
      margin: 0 16px 0 62px;
    }

    &-4 {
      @include flex-column;
      align-items: center;
      padding: 15px 20px;
      margin: 0 -8px 0 0;
    }
  }
}

/* Statistic media */
@media (max-width: $laptop) {
  .statistic__container {
    max-width: min($wide-width, 100%);
  }
}

@media (max-width: $wide-width) {
  .statistic__container {
    max-width: min($wide-width-small, 100%);
  }
}

@media (max-width: $wide-width-small) {
  .statistic__container {
    max-width: min($desktop-width, 100%);

    .statistic__item {

      & h2 {
        font-size: $fs-lg-md;
        font-weight: bold;
        font-family: $font-family-base;
        margin: 15px 0 15px 0;
      }

      & p {
        font-size: $fs-small;
        font-family: $font-family-base;
      }

      &-1 {
        margin: 0;
      }

      &-2 {
        margin: 0;
      }

      &-3 {
        margin: 0;
      }

      &-4 {
        margin: 0;
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .statistic__container {
    max-width: min($tablet-width, 100%);
    width: 500px;

    .statistic__item {

      & h2 {
        font-size: $fs-medium-small;
        font-weight: bold;
        font-family: $font-family-base;
        margin: 15px 0 15px 0;
      }

      & p {
        font-size: $fs-extra-small;
        font-family: $font-family-base;
      }

      &-1 {
        margin: 0;
      }

      &-2 {
        margin: 0 37px 0 0;
      }

      &-3 {
        margin: 0;
      }

      &-4 {
        margin: 0;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .statistic__container {
    max-width: min($small-tablet, 100%);
  }
}

@media (max-width: $small-tablet) {
  .statistic__container {
    max-width: min($small-mobile-width, 100%);
  }
}

@media (max-width: $small-mobile-width) {
  .statistic__container {
    max-width: $extra-small-mobile;

    .statistic__item {
      justify-content: center;

      & h2 {
        font-size: $fs-base;
        font-weight: bold;
        font-family: $font-family-base;
        margin: 15px 0 15px 0;
      }

      & p {
        font-size: $fs-extra-small;
        font-family: $font-family-base;
      }

      &-1 {
        padding: 10px 10px;
        margin: 0 0 0 -2px;
      }

      &-2 {
        padding: 10px 10px;
        margin: 0;
      }

      &-3 {
        padding: 10px 10px;
        margin: 0 6px 0 0;
      }

      &-4 {
        padding: 10px 10px;
        margin: 0;
        width: 160px;

        & p {
          text-align: center;
        }
      }
    }
  }
}
