.video {
  width: 100%;
  padding-top: 72px;
  background-color: $dark-white;

  &__container {
    max-width: min($wide-width, 100%);
    margin: 0 auto;

    & .video__block {
      @include flex-column;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      width: 100%;

      &-title {
        font-size: $fs-large-small;
        font-weight: bold;
        font-family: $font-family-base;
        letter-spacing: 1px;
        margin-bottom: 28px;
      }

      &-text {
        text-align: center;
        letter-spacing: 1px;
        font-size: $fs-base;
        font-family: $font-family-base;
        line-height: 24px;
        margin-bottom: 27px;
      }

      &-video {
        width: 1020px;
        height: 521px;
        margin-bottom: 65px;
      }
    }
  }
}

@media (max-width: $laptop) {
  .video__container {
    max-width: min($wide-width, 100%);
  }
}

@media (max-width: $wide-width) {
  .video__container {
    max-width: min(1050px, 100%);

    & .video__block {
      &-video {
        width: 100%;
        height: 521px;
        margin-bottom: 63px;
      }
    }
  }
}

@media (max-width: $wide-width-small) {
  .video__container {
    max-width: min(1020px, 100%);
  }
}

@media (max-width: $desktop-width) {
  .video__container {
    max-width: min($tablet-width, 100%);

    & .video__block {
      &-text {
        font-size: $fs-small;
        line-height: 22px;
      }

      &-video {
        height: 435px;
        margin-bottom: 63px;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .video__container {
    max-width: $small-tablet;

    & .video__block {
      &-text {
        line-height: 20px;
      }

      &-video {
        height: 245px;
        margin-bottom: 63px;
      }
    }
  }
}

@media (max-width: $small-tablet) {
  .video__container {
    max-width: $small-mobile-width;

    & .video__block {
      &-text {
        line-height: 18px;
      }

      &-video {
        height: 165px;
        margin-bottom: 63px;
      }
    }
  }
}

@media (max-width: $small-mobile-width) {
  .video__container {
    max-width: $extra-small-mobile;

    & .video__block {
      &-text {
        font-size: $fs-small-md;
      }

      &-video {
        height: 170px;
        margin-bottom: 63px;
      }
    }
  }
}
